/App/Modules/__pycache__
/temp
/TestFiles
/temp
temp/Zc.mat
*.mat
/App/Tabs/__pycache__
/savestate
/App/Savestate/__pycache__
/__pycache__
/.claude
/App/NeuralNetwork/__pycache__
App/SimulationData/solver_output.json
App/SimulationData/results_batch_1.json
/tools
/.claude
App/SimulationData/results_batch_2.json
App/SimulationData/global_results.json
App/NeuralNetwork/NN_V2/global_results.json
/App/NeuralNetwork/scripts/__pycache__
/App/NeuralNetwork/NN_V2
/App/NeuralNetwork/NN_V3
/App/NeuralNetwork/NN_V4
App/NeuralNetwork/NN_V5/results.json
